body{
    background-color: #eceffe;
    display: flex;
    
    
}

.same_as_body{
    display: flex;
    flex-direction: column;
    max-width: 1100px;   
    margin: 0 auto;      
    padding: 20px;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    padding: 100px 10px;
    background-color: white;
    border-radius: 20px;
    width: 50%;

}

img{
    border-radius: 10px;
    width: 100%;
    max-width: 250px;

}

.components{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}

.list{
    padding: 10px 120px;
    background-color: rgb(200, 200, 235);
    border-radius: 10px;
}

.gap{
    padding: 25px;
}